NET CLKFB_OUT FEEDBACK = 160ps NET CLKFB_IN;

NET CLKIN PERIOD = 30ns HIGH;

NET INt OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[31] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[30] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[29] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[28] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[27] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[26] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[25] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[24] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[23] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[22] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[21] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[20] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[19] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[18] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[17] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[16] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[15] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[14] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[13] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[12] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[11] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[10] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[9] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[8] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[7] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[6] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[5] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[4] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[3] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[2] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[1] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET FSB_A[0] OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET CPU_nAS OFFSET = IN 12ns VALID 12ns BEFORE CLKIN;
NET OUTt OFFSET = OUT 5ns AFTER CLKIN;