NET CLKFB_OUT FEEDBACK = 160ps NET CLKFB_IN;
NET FSBCLK FEEDBACK = 160ps NET CLKFB_IN;
NET CPUCLKi FEEDBACK = 160ps NET CLKFB_IN;
NET nRESOE SLEW = "QUIETIO";
NET CLKIN PERIOD = 20ns HIGH;
NET CPU_nAS OFFSET = IN 10ns VALID 11ns BEFORE FSBCLK;