//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 29 17:59:48 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLKGEN_inst/instance_name/clkin1" PERIOD = 30 ns HIGH 50%;
COMP "FSB_A<31>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<30>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<29>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<28>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<27>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<26>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<25>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<24>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<23>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<22>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<21>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<20>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<19>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<18>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<17>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<16>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<15>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<14>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<13>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<12>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<11>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<10>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<9>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<8>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<7>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<6>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<5>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<4>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<3>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<2>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<1>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "FSB_A<0>" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "CPU_nAS" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "INt" OFFSET = IN 12 ns VALID 12 ns BEFORE COMP "CLKIN";
COMP "OUTt" OFFSET = OUT 5 ns AFTER COMP "CLKIN";
BEL "CLKFB_OUT" FEEDBACK = 0.16 ns BEL "CLKFB_IN";
SCHEMATIC END;

